n8n/exam.json
{
  "name": "exam",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.events[0].message.text }}",
        "options": {
          "systemMessage": "คุณคือผู้หญิง คุณสามารถค้นข้อมูลเกี่ยวกับข้อสอบได้จาก tool ของคุณ หาก user ขอให้แก้โจทย์คุณสามารถใช้ agent tool ของคุณ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -976,
        1104
      ],
      "id": "02d0baf9-bf4f-49b8-a769-f373522e3bcb",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        640,
        816
      ],
      "id": "64791791-2930-4d70-8cbb-6ddca3673207",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "JfccLwQ4sWZeSPqg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.events[0].message.id }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -880,
        1520
      ],
      "id": "a957026a-2030-4cf3-bc05-b04b9fdfc82f",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -400,
        1536
      ],
      "id": "3766dbf3-01b9-4afc-abc9-b32305b2c3de",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "JfccLwQ4sWZeSPqg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1104,
        1344
      ],
      "id": "78bebe55-1ec1-44ee-9164-d8ab9a7a7fbf",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "MnHQu5NkAw2xNup3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/exam_images",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page",
              "value": "={{ $json.i }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -784,
        672
      ],
      "id": "156fb07e-ad08-4b64-9f94-a1351cb79196",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "output = []\nfor i in range(31, 95):\n  output.append({\"i\":i})\nreturn output"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        672
      ],
      "id": "2ccaca0e-4ffe-486b-a202-3b9c9f88ee91",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "extract math problem or information from this image in thai language.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -256,
        800
      ],
      "id": "8cc5e9eb-e8ea-4b05-8260-e0812ad9ba27",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "MnHQu5NkAw2xNup3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -512,
        672
      ],
      "id": "d4544a0c-bb61-4b5b-8dfd-70dd274a68d9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1Q26xV1nvm1B6MLFfwHqSF1XLhoD1U_ka5fAAE6tStqE/edit?usp=sharing",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json.text }}"
            },
            {
              "object": "pageBreak",
              "action": "insert"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        320,
        800
      ],
      "id": "8e330827-8283-4530-b871-828ed793684f",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ym8ATCqOL9j3ZnrP",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1Q26xV1nvm1B6MLFfwHqSF1XLhoD1U_ka5fAAE6tStqE/edit?usp=sharing"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        176,
        592
      ],
      "id": "7d899462-2c95-4fa2-9348-bf96e5a874a0",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ym8ATCqOL9j3ZnrP",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1232,
        672
      ],
      "id": "ab3b55b4-0832-4852-8fe6-e999d1c59703",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "toolDescription": "มีหน้าที่แสดงโจทย์ที่ผู้คนขอให้แก้และแสดงวิธีทำ",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -720,
        1344
      ],
      "id": "f859934f-39e1-48b5-aa2f-c9425825ef08",
      "name": "AI Agent Tool"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -720,
        1520
      ],
      "id": "31c086bf-3ef1-4acb-9c4e-d51dc0d29708",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "JfccLwQ4sWZeSPqg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "exam",
          "mode": "list",
          "cachedResultName": "exam"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        640,
        592
      ],
      "id": "4f702d8c-8bd6-4fab-a1f7-85b493ca4e3f",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "0Gpf24yR7xtKR9e4",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "this provide information about exam",
        "pineconeIndex": {
          "__rl": true,
          "value": "exam",
          "mode": "list",
          "cachedResultName": "exam"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -400,
        1344
      ],
      "id": "e25042a8-791a-4629-84db-9ce5646939ec",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "0Gpf24yR7xtKR9e4",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        816,
        816
      ],
      "id": "64847674-4a62-42ab-a628-e7d24e9b2449",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        816,
        1008
      ],
      "id": "f825b621-8946-4f7d-9de0-7fb017d0dfdf",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content }}",
        "messages": {
          "messageValues": [
            {
              "message": "=input ของคุณคือ text ที่ถูก extract from image คุณจะต้องแปลง input นั้นเป็น text สำหรับนำไปใส่ใน document ไม่ต้องมีคำอธิบายภาพคัดเฉพาะ content ของภาพนั้นเท่านั้น หาก input text นั้นคือคณิตศาสตร์ คุณต้องแสดงวิธีทำให้การแก้โจทย์นั้นเข้าไปด้วย"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -32,
        800
      ],
      "id": "b7b58ff6-3146-4e82-9fe8-e68320c0b3a3",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -32,
        1008
      ],
      "id": "8d396e29-3868-49ad-aaf4-b9e6aa4fe182",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "MnHQu5NkAw2xNup3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "34213055-a0e3-49e2-8a95-c6b8c17c7d47",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1200,
        1104
      ],
      "id": "35b267a8-2b37-4390-9b38-fec42b30ab99",
      "name": "Webhook",
      "webhookId": "34213055-a0e3-49e2-8a95-c6b8c17c7d47"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "replyToken",
              "value": "={{ $('Webhook').item.json.body.events[0].replyToken }}"
            },
            {
              "name": "messages",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -352,
        1104
      ],
      "id": "ac734988-d623-4560-b9a8-8a8ef4535eaf",
      "name": "HTTP Request1",
      "credentials": {
        "httpBearerAuth": {
          "id": "claTwMFSfDbVXVSv",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\noutput = []\nfor item in _input.all():\n  output.append({\n    \"output\": [\n      {\n        \"type\": \"text\",\n        \"text\": item.json.output\n      }\n    ]\n  })\n# return _input.all()\nreturn output"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        1104
      ],
      "id": "f2c5b223-b781-4e3c-8072-24fa64eb5d09",
      "name": "Code1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1200,
        928
      ],
      "id": "ce0a0854-162c-4e83-b7dd-159f2b640c12",
      "name": "When chat message received",
      "webhookId": "05d60e21-6c85-4613-b8e6-a388eeae6dd1"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent Tool",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3559ae8a-7ef0-44f5-a312-35bd7209fed8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf5766e839f85f456815e44b7409e046ab159db14ad9a7df7c19a3330d06ebdb"
  },
  "id": "Bau7pWkBFIpTnzu8",
  "tags": []
}